* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
input,
textarea {
    outline: none;
}
input[type="submit"],
button {
    border: none;
    cursor: pointer;
}