//- Start Info
section.info
    .container
        .sec-cont
            .image
                img(src="images/about1.jpg", alt="")
            .infos
                h3 Welcome To TechEduca, Enhance Your Skills With Best Online Courses
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi temporibus voluptatem, inventore ducimus reiciendis natus fugit non! Dolore, aspernatur dolor.
                .box
                    .img-box
                        img(src="images/info1.jpg", alt="")
                    .text-box
                        h4 400+ Courses
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus sed quaerat voluptates expedita rem.
                .box
                    .img-box
                        img(src="images/info2.png", alt="")
                    .text-box
                        h4 Lifetime Access
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptatibus sed quaerat voluptates expedita rem.
//- End Info

//- Start Features
section.features
    .container
        +main-head("Awesome Feature")
        .boxs-cont
            .box
                i(class="fas fa-graduation-cap")
                h3 Scholarship Facility
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, repudiandae!
            .box
                i(class="fas fa-stamp")
                h3 Sell Online Course
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, repudiandae!
            .box
                i(class="fas fa-certificate")
                h3 Global Certification
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita, repudiandae!
//- End Features

//- Start Trusted
section.trust
    .container
        +main-head("Trusted By")
        .trusts-cont
            .trust-img
                img(src="images/trust1.webp", alt="")
            .trust-img
                img(src="images/trust2.jpg", alt="")
            .trust-img
                img(src="images/trust3.webp", alt="")
            .trust-img
                img(src="images/trust4.jpg", alt="")
            .trust-img
                img(src="images/trust5.jpg", alt="")
            .trust-img
                img(src="images/trust6.jpg", alt="")
//- End Trusted