//- Start Blog
section.blog
    .container
        .blog-cont
            .posts
                .blog-post
                    .post-img
                        img(src="images/blog1.jpg", alt="")
                    h3 Learn Web Development In The Easiest Way
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore accusantium libero ex alias, animi repellat quas sunt error dolorum provident deserunt vitae, voluptatum pariatur? Dignissimos incidunt tempore amet rerum vero.
                    a(href="post.html") More Info
                .blog-post
                    .post-img
                        img(src="images/blog2.jpg", alt="")
                    h3 Learn Web Development In The Easiest Way
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore accusantium libero ex alias, animi repellat quas sunt error dolorum provident deserunt vitae, voluptatum pariatur? Dignissimos incidunt tempore amet rerum vero.
                    a(href="post.html") More Info
                .blog-post
                    .post-img
                        img(src="images/blog3.jpg", alt="")
                    h3 Learn Web Development In The Easiest Way
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore accusantium libero ex alias, animi repellat quas sunt error dolorum provident deserunt vitae, voluptatum pariatur? Dignissimos incidunt tempore amet rerum vero.
                    a(href="post.html") More Info
                .blog-post
                    .post-img
                        img(src="images/blog4.jpg", alt="")
                    h3 Learn Web Development In The Easiest Way
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore accusantium libero ex alias, animi repellat quas sunt error dolorum provident deserunt vitae, voluptatum pariatur? Dignissimos incidunt tempore amet rerum vero.
                    a(href="post.html") More Info
            .cats
                h2 Categories
                ul
                    li Web Development
                    li Web Design
                    li App Development
                    li Frontend Web
                    li Python Programming
                    li Javascript Hacks
//- End Blog