//- Start Contact
section.contact
    .container
        .contact-cont
            .touch
                .touch-info
                    h2 Get In Touch
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores similique officiis animi!
                .title
                    h4 Headquaters
                    .title-det
                        i(class="fas fa-home")
                        .title-txt
                            p 447 New York Ave, Brooklyn, kings, New York
                            span 10224
                .phone
                    h4 Phone
                    .phone-det
                        i(class="fas fa-phone")
                        .nums
                            span (+642) 245 356 432
                            span (+420) 123 456 789
                .support
                    h4 Support
                    .support-det
                        i(class="fas fa-envelope-open-text")
                        .mails
                            p techeduca@support.com
                            p help@educa.com
                .follow
                    h4 Follow Us
                    ul
                        li: i(class="fab fa-facebook-f")
                        li: i(class="fab fa-instagram")
                        li: i(class="fab fa-linkedin-in")
                        li: i(class="fab fa-behance")
            .connect
                .connect-info
                    h3 Let's Connect
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, cupiditate.
                form
                    input(type="text" placeholder="Your Name")
                    input(type="email" placeholder="Your Email")
                    input(type="text" placeholder="Subject")
                    textarea(placeholder="How Can We Help?")
                    button Send Message
//- End Contact