//- Start Courses
section.courses
    .container
        +main-head("Our Popular Courses")
        .boxs-cont
            .box
                img(src="images/courses1.png", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p JavaScript Beginner Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses2.jpg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p HTML &amp; CSS Beginner Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses3.jpg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p Python Beginner Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses4.jpeg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p Web Design Crash Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses5.jpg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p Web Development Crash Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses6.jpg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p React Beginner Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses7.jpeg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p Vue.js Beginner Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses8.jpg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p Angular Beginner Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses9.jpg", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p Sass Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
            .box
                img(src="images/courses10.png", alt="", onclick="window.location.href='course.html'")
                .info
                    p.date updated 21/8/2021
                    p Boostsrtrap Course
                    .rate
                        ul
                            - for (var i = 1 ; i <= 5 ; i++)
                                li: i(class="fas fa-star")
                        span (239)
//- End Courses