//- Start My-Course
section.course
    .container
        .course-cont
            .course-info
                .details
                    img(src="images/courses1.png", alt="")
                    h2 JavaScript Beginner Course
                    ul
                        li: i(class="fas fa-star")
                        li: i(class="fas fa-star")
                        li: i(class="fas fa-star")
                        li: i(class="fas fa-star")
                        li: i(class="far fa-star")
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, eius consectetur delectus molestiae, temporibus a commodi minima quibusdam id debitis, asperiores cum provident iusto aliquid!
                    span $49.99
                .instructor
                    h3 Instructor
                    .inst-cont
                        .inst-img
                            img(src="images/info1.jpg", alt="")
                        .inst-info
                            h4 Mohamed Abdallah
                            p Web Developer At Google
                hr
                .overview
                    h3 Course Overview
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae dolores quae assumenda voluptas fugiat, quam fugit aspernatur, minus, molestias facere placeat architecto autem adipisci harum rem. Aliquid pariatur ullam doloribus!
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci temporibus provident expedita, cupiditate voluptate omnis nesciunt! Cupiditate magni velit nulla ipsum voluptatem doloremque laborum sed reprehenderit quod natus quisquam illo saepe, illum dolor consequatur, necessitatibus perspiciatis. Suscipit eum sint repellendus magnam libero quia, inventore veritatis voluptas voluptatum adipisci earum expedita.
                    p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto repudiandae quaerat tempore ex, aut eaque itaque illum fuga vitae eos?
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor consectetur dolorem illum perferendis repudiandae animi cumque corrupti esse praesentium recusandae, quasi assumenda harum repellat, consequuntur eius atque eveniet voluptas nostrum libero magnam eaque laborum, aut quidem. Odio dolorem facilis quo?
                hr
                .learn
                    h3 What You'll Learn
                    ul
                        li #[i(class="fas fa-check-circle")] Javascript From Scratch - Beginner To Advanced
                        li #[i(class="fas fa-check-circle")] Everything You Need To Become A Javascript Expert And Apply For Javascript Jobs
                        li #[i(class="fas fa-check-circle")] All About Variables, Objects, Functions, And Arrays
                        li #[i(class="fas fa-check-circle")] All Core Features And Concepts You Need To Know In Modern Javascript Development
                        li #[i(class="fas fa-check-circle")] Project Driven Learning With Plenty Of Examples
                        li #[i(class="fas fa-check-circle")] Object Oriented Programming (OOP)
                        li #[i(class="fas fa-check-circle")] Javascript From Scratch - Beginner To Advanced
            .includes
                h3 This Course Include:
                ul
                    li #[i(class="fas fa-video")] 52 Hours Video
                    li #[i(class="fas fa-newspaper")] 75 Articles
                    li #[i(class="fas fa-download")] Downloadable Resources
                    li #[i(class="fas fa-infinity")] Full Lifetime Access
                    li #[i(class="fas fa-mobile")] Access On Mobile And TV
                    li #[i(class="fas fa-thumbtack")] Assignements
                    li #[i(class="fas fa-trophy")] Certificate Of Completion
                button Enroll Course
//- End My-Course