footer
    .container
        .footer-cont
            .col
                h3 Top Products
                ul
                    li: a(href="#") Manage Reputation
                    li: a(href="#") Power Tools
                    li: a(href="#") Managed Website
                    li: a(href="#") Marketing Service
            .col
                h3 Quick Links
                ul
                    li: a(href="#") Jobs
                    li: a(href="#") Brands Assests
                    li: a(href="#") Investor Relations
                    li: a(href="#") Terms Of Services
            .col
                h3 Features
                ul
                    li: a(href="#") Manage Reputation
                    li: a(href="#") Power Tools
                    li: a(href="#") Managed Website
                    li: a(href="#") Marketing Service
            .col
                h3 Resources
                ul
                    li: a(href="#") Guides
                    li: a(href="#") Research
                    li: a(href="#") Experts
                    li: a(href="#") Marketing Service
            .col
                h3 Newsletter
                p You Can Trust Us. We Only Send Promo Offers,
                form
                    input(type="text", placeholder="Your Email Address")
                    input(type="submit", value="Subscribe")
.copyright
    .container
        .cont
            p Copyright &copy;2022 All Rights Reserved | This Website Is Made By Mahmoud Hamed
            ul
                li: i(class="fab fa-facebook-f")
                li: i(class="fab fa-instagram")
                li: i(class="fab fa-linkedin")