header
    .intro
        h1 Enhance Your Future With TechEduca
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, soluta obcaecati esse sequi necessitatibus fuga accusantium ea nesciunt magni ratione. Magnam numquam optio repudiandae aliquid fugiat atque ipsam dolor excepturi!
        .btn-box
            button.blue Learn More
            button.yellow Visit Courses