nav
    .container
        .logo
            img(src="images/logo.jpg", alt="")
        i(class="fas fa-bars fa-2x")
        ul.links
            i(class="fas fa-times fa-2x")
            li.active
                a(href="index.html") Home
            li
                a(href="about.html") About
            li
                a(href="blog.html") Blog
            li
                a(href="courses.html") Courses
            li
                a(href="contact.html") Contact
            li
                button Join For Free