@media (max-width: 991px) {
    footer {
        .footer-cont {
            .col {
                margin-bottom: 40px;
            }
        }
    }
    .copyright {
        padding: 30px 0;
        .cont {
            flex-direction: column;
            p {
                margin: 0 0 20px;
            }
        }
    }
}
@include media(mobile) {
    .copyright {
        .cont {
            p {
                line-height: 1.5;
                text-align: center;
            }
        }
    }
}